* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-family;
    font-size: $font-size;
}

li {
    list-style-type: none;
    display: inline-block;
}

a {
    text-decoration: none;
}

.container {
    height: 100%;
    width: 1200px;
    margin: 0 auto;

    &::after {
        @include clearfix;
    }
}

.clearfix::after {
    @include clearfix;
}
