.jumbotron {
    width: $full-width;
    background-image: url('https://www.painterartist.com/static/ptr/product_content/painteressentials/7/hero-painteressentials-7.jpg');
    background-position: center;
}

.jumbo-content {
    width: $full-width;
    height: 100%;
}

.text-download {
    width: 50%;
    margin-left: 15%;
    margin-top: 50px;
    color: $primary-color-text;
    float: left;
    height: 100%;

        h3 {
            font-size: $font-size + 22px;
            font-weight: 300;
        }

        p {
            font-size: $font-size + 8px;
            margin: 20px 0px 10px;
        }

        ul {
            margin-bottom: 35px;
            li {
                display: block;
                margin-bottom: 11px;
            }
        }

        .button-download {
            background-color: #5C5C5A;
            width: 150px;
            padding: 5px 5px;
            margin-bottom: 10px;

            button {
                background-color: #5C5C5A;
                color: $primary-color-text;
                border: none;

                span {

                }

                i {
                    margin-left: 5px;
                    font-size: $font-size * 2;
                }
            }
        }
}

.section-button-offer {
    height: 100%;
    width: 35%;
    float: left;
}

.offer-container {
    background-color: $header-background;
    color: $primary-color-text;
    min-height: 420px;
    padding: 20px 15px 20px;
    margin-top: 20px;
}

.price-guarantee {
    width: $full-width;

    .text-price {
        width: 49%;
        display: inline-block;

        span {
            display: block;
        }

        #number-price {
            font-size: $font-size + 10px;
        }

        #text-span {
            text-transform: uppercase;
            font-size: $font-size - 1px;
            color: $secondary-color-text;
        }
    }
}

.img-guarantee {
    width: 49%;
    display: inline-block;

    img {
        float: right;
    }
}

.button-offer {
    margin-bottom: 15px;

    button {
        margin: 20px 6px 12px 0;
        min-width: 150px;
        font-size: 15px;
        border: none;
        background-color: $buttons-background;
        color: $primary-color-text;
        text-transform: uppercase;
        padding: 5px 20px 7px;
     }
}

.animation-pack {
    background-color: $tertiary-color;
    color: black;
    padding: 15px;
}

.overview {
    width: $full-width;
    background-color: $secondary-color;
}

.list-overview {

    li {
        padding: 15px 26px;

        a {
            color: black;
            text-transform: uppercase;
            font-size: $font-size + 4px;
            color: #555555;
        }
    }
}

.guide-video {
    background-image: url('https://www.painterartist.com/static/ptr/product_content/painteressentials/7/intro.jpg');
    background-color: #101010;
    background-position: bottom;
    background-repeat: no-repeat;
    position: relative;
    height: 938px;
}

.content-videoguide {
    width: 100%;
}

.text-videoguide {
    color: $primary-color-text;
    text-align: center;

    h2 {

    }

    p {

    }

    span {
        display: block;
    }
}

.video-player {
    width: $full-width;
    position: relative;

    #border-video {
        width: 100%;
        position: absolute;
    }

    #woman-paint {
        width: 100%;
        border-radius: 20px;
        height: fit-content;
        margin-top: 2px;
    }

}

.content-videoguide {
    padding-top: 80px;
}

.text-videoguide {

    p {
        margin: 18px 0px;
        font-size: $font-size + 4px;
    }

    span {
        font-size: $font-size + 4px;
        margin-bottom: 30px;

        i {
            margin-right: $space;
        }
    }
}

.background-carousel {
    background-color: $tertiary-color;
}

.text-carousel {
    margin: 90px 0px;
    text-align: center;
    font-weight: 300;

    h3 {
        color: #333333;
        font-size: 36px;
        font-weight: 400;
        margin: 20px 0px 10px;
    }

    p {
        font-size: $font-size + 4px;
        color: #333333;
    }
}

.carousel {
    width: 1100px;
    margin: auto;
    @include flex-center;

    .prev-photo {
        float: left;
        width: 5%;
        @include flex-center;
        cursor: pointer;

        i {
            font-size: $font-size * 2;
            color: #E74500;
        }
    }

    .current-photo {
        float: left;
        width: 90%;
        margin-bottom: 60px;

        img {
            width: $full-width;
        }
    }

    .next-photo {
        float: left;
        width: 5%;
        cursor: pointer;
        @include flex-center;

        i {
            font-size: $font-size * 2;
            color: #E74500;
        }
    }
}

.paint-rainy-city {
    height: 700px;
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-image: url('https://www.painterartist.com/static/ptr/product_content/painteressentials/7/image-bg-02.jpg');
}

.app-functions {
    background-color: $primary-color;
    color: $primary-color-text;
}
