@mixin clearfix {
    clear: both;
    display: table;
    content: '';
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin float-50 {
    float: left;
    width: 50%;
}
