$font-size: 14px;
$font-family: 'Noto Sans JP', sans-serif;
$space: 15px;
$primary-color: #222222;
$secondary-color: #E6E6E6;
$tertiary-color:#FFFFFF;
$header-background: #000000;
$buttons-background: #009CFF;
$color-icons-header: #009CFF;
